In [1]:
import pyspark

from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
        .master("local[1]") \
        .appName("test") \
        .getOrCreate()

In [5]:
spark

In [8]:
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
columns =["firstname","age"]

In [9]:
df = spark.createDataFrame(data =data,schema =columns)
df.show()

+---------+---+
|firstname|age|
+---------+---+
|    Alice| 25|
|      Bob| 30|
|  Charlie| 35|
+---------+---+

In [10]:
df.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- age: long (nullable = true)

In [11]:
df.filter("age>=26").show()

+---------+---+
|firstname|age|
+---------+---+
|      Bob| 30|
|  Charlie| 35|
+---------+---+

In [12]:
df.select("firstname","age").show()

+---------+---+
|firstname|age|
+---------+---+
|    Alice| 25|
|      Bob| 30|
|  Charlie| 35|
+---------+---+

In [94]:
from pyspark.sql.functions import mean as mean_, std as std_

df = spark.read.csv("avocado.csv",header=True)
df2 =spark.read.csv("avocado.csv", header= True)
df.show()
df

+---+----------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
|_c0|      Date|AveragePrice|Total Volume|   4046|     4225|  4770|Total Bags|Small Bags|Large Bags|XLarge Bags|        type|year|region|
+---+----------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
|  0|2015-12-27|        1.33|    64236.62|1036.74| 54454.85| 48.16|   8696.87|   8603.62|     93.25|        0.0|conventional|2015|Albany|
|  1|2015-12-20|        1.35|    54876.98| 674.28| 44638.81| 58.33|   9505.56|   9408.07|     97.49|        0.0|conventional|2015|Albany|
|  2|2015-12-13|        0.93|   118220.22|  794.7|109149.67| 130.5|   8145.35|   8042.21|    103.14|        0.0|conventional|2015|Albany|
|  3|2015-12-06|        1.08|    78992.15| 1132.0| 71976.41| 72.58|   5811.16|    5677.4|    133.76|        0.0|conventional|2015|Albany|
|  4|2015-11-29|        1.28|     51039.6| 941.48| 43838.39| 75.78|   6183.95|   5986.26|    197.69|        0.0|conventional|2015|Albany|
|  5|2015-11-22|        1.26|    55979.78|1184.27| 48067.99| 43.61|   6683.91|   6556.47|    127.44|        0.0|conventional|2015|Albany|
|  6|2015-11-15|        0.99|    83453.76|1368.92| 73672.72| 93.26|   8318.86|   8196.81|    122.05|        0.0|conventional|2015|Albany|
|  7|2015-11-08|        0.98|   109428.33| 703.75|101815.36|  80.0|   6829.22|   6266.85|    562.37|        0.0|conventional|2015|Albany|
|  8|2015-11-01|        1.02|    99811.42|1022.15| 87315.57| 85.34|  11388.36|  11104.53|    283.83|        0.0|conventional|2015|Albany|
|  9|2015-10-25|        1.07|    74338.76|  842.4| 64757.44| 113.0|   8625.92|   8061.47|    564.45|        0.0|conventional|2015|Albany|
| 10|2015-10-18|        1.12|    84843.44| 924.86| 75595.85|117.07|   8205.66|   7877.86|     327.8|        0.0|conventional|2015|Albany|
| 11|2015-10-11|        1.28|    64489.17|1582.03| 52677.92|105.32|   10123.9|   9866.27|    257.63|        0.0|conventional|2015|Albany|
| 12|2015-10-04|        1.31|     61007.1|2268.32| 49880.67|101.36|   8756.75|   8379.98|    376.77|        0.0|conventional|2015|Albany|
| 13|2015-09-27|        0.99|   106803.39|1204.88| 99409.21|154.84|   6034.46|   5888.87|    145.59|        0.0|conventional|2015|Albany|
| 14|2015-09-20|        1.33|    69759.01|1028.03| 59313.12| 150.5|   9267.36|    8489.1|    778.26|        0.0|conventional|2015|Albany|
| 15|2015-09-13|        1.28|    76111.27| 985.73| 65696.86| 142.0|   9286.68|   8665.19|    621.49|        0.0|conventional|2015|Albany|
| 16|2015-09-06|        1.11|    99172.96| 879.45| 90062.62|240.79|    7990.1|   7762.87|    227.23|        0.0|conventional|2015|Albany|
| 17|2015-08-30|        1.07|   105693.84| 689.01| 94362.67|335.43|  10306.73|  10218.93|      87.8|        0.0|conventional|2015|Albany|
| 18|2015-08-23|        1.34|    79992.09| 733.16| 67933.79|444.78|  10880.36|  10745.79|    134.57|        0.0|conventional|2015|Albany|
| 19|2015-08-16|        1.33|    80043.78| 539.65| 68666.01| 394.9|  10443.22|  10297.68|    145.54|        0.0|conventional|2015|Albany|
+---+----------+------------+------------+-------+---------+------+----------+----------+----------+-----------+------------+----+------+
only showing top 20 rows

DataFrame[_c0: string, Date: string, AveragePrice: string, Total Volume: string, 4046: string, 4225: string, 4770: string, Total Bags: string, Small Bags: string, Large Bags: string, XLarge Bags: string, type: string, year: string, region: string]

In [95]:
from pyspark.sql.functions import mean as mean_, std as std_ , col

df_stats = df.select(
    mean_(col('AveragePrice')).alias('mean'),
    std_(col('AveragePrice')).alias('std')
).collect()

avg = df_stats[0]['mean']
std = df_stats[0]['std']
print(avg)
print(std)

df.describe().show()

1.4059784097758825
0.4026765554955525
+-------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+------------------+----------------+
|summary|               _c0|      Date|      AveragePrice|      Total Volume|              4046|              4225|              4770|        Total Bags|        Small Bags|        Large Bags|       XLarge Bags|        type|              year|          region|
+-------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+------------------+----------------+
|  count|             18249|     18249|             18249|             18249|             18249|             18249|             18249|             18249|             18249|             18249|             18249|       18249|             18249|           18249|
|   mean|24.232231903117977|      NULL|1.4059784097758825| 850644.0130089332|293008.42453066056|295154.56835607596|22839.735992657315|239639.20205983953|182194.68669571026| 54338.08814455636|3106.4265072058793|        NULL|2016.1478985149872|            NULL|
| stddev| 15.48104475375712|      NULL|0.4026765554955525|3453545.3553994684|1264989.0817627835|1204120.4011350533|107464.06843537069| 986242.3992164108| 746178.5149617895|243965.96454740898| 17692.89465191642|        NULL|0.9399384671420276|            NULL|
|    min|                 0|2015-01-04|              0.44|           1000.86|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|               0.0|conventional|              2015|          Albany|
|    max|                 9|2018-03-25|              3.25|          99982.71|         999948.52|         999958.67|          99997.75|          99993.25|           9999.53|          999727.7|           9970.21|     organic|              2018|WestTexNewMexico|
+-------+------------------+----------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------+------------------+----------------+

In [41]:
df.groupBy('4046').count().orderBy('count', ascending=False).show(5)

+----+-----+
|4046|count|
+----+-----+
| 0.0|  242|
| 3.0|   10|
| 1.0|    8|
| 4.0|    8|
|1.24|    8|
+----+-----+
only showing top 5 rows

In [52]:
from pyspark.sql.functions import min as minimum_, median as median_ , max as maximum_, col
import pyspark.sql.functions as F
df_stats = df.select(
    minimum_(col('AveragePrice')).alias('min'),
    median_(col('AveragePrice')).alias('median'),
    maximum_(col('AveragePrice')).alias('max')
).collect()

min = df_stats[0]['min']
median = df_stats[0]['median']
max = df_stats[0]['max'] 
print(min)
print(median)
print(max)

df1 = df.groupby('type').agg(F.expr('percentile(AveragePrice, array(0.25))')[0].alias('%25'),
                             F.expr('percentile(AveragePrice, array(0.75))')[0].alias('%75'))

df1.show()
# df.join(df1, on='', how='left').show()

0.44
1.37
3.25
+------------+----+----+
|        type| %25| %75|
+------------+----+----+
|     organic|1.42|1.87|
|conventional|0.98|1.32|
+------------+----+----+

In [98]:
# df2.show()

df2.printSchema()
df2= df2.selectExpr("AveragePrice as avgprice")
df2.show()
df2.printSchema()
df2

root
 |-- _c0: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- AveragePrice: string (nullable = true)
 |-- Total Volume: string (nullable = true)
 |-- 4046: string (nullable = true)
 |-- 4225: string (nullable = true)
 |-- 4770: string (nullable = true)
 |-- Total Bags: string (nullable = true)
 |-- Small Bags: string (nullable = true)
 |-- Large Bags: string (nullable = true)
 |-- XLarge Bags: string (nullable = true)
 |-- type: string (nullable = true)
 |-- year: string (nullable = true)
 |-- region: string (nullable = true)

+--------+
|avgprice|
+--------+
|    1.33|
|    1.35|
|    0.93|
|    1.08|
|    1.28|
|    1.26|
|    0.99|
|    0.98|
|    1.02|
|    1.07|
|    1.12|
|    1.28|
|    1.31|
|    0.99|
|    1.33|
|    1.28|
|    1.11|
|    1.07|
|    1.34|
|    1.33|
+--------+
only showing top 20 rows

root
 |-- avgprice: string (nullable = true)

DataFrame[avgprice: string]

In [71]:
wordCountsDF = (df.select("region")
                .groupBy('region').count())
wordCountsDF.show(df.count(), False)
print((wordCountsDF).count())

counts=df.map(lambda x:[(c,1)for c in x])
for row in counts.collect():
    print .parallelize(row).reduceByKey(lambda x,y:x+y).collect()


wordsLengthsDF =data.select(length('region').alias('lengths'),"region")
wordsLengthsDF.show()

+-------------------+-----+
|region             |count|
+-------------------+-----+
|PhoenixTucson      |338  |
|GrandRapids        |338  |
|SouthCarolina      |338  |
|TotalUS            |338  |
|WestTexNewMexico   |335  |
|Louisville         |338  |
|Philadelphia       |338  |
|Sacramento         |338  |
|DallasFtWorth      |338  |
|Indianapolis       |338  |
|LasVegas           |338  |
|Nashville          |338  |
|GreatLakes         |338  |
|Detroit            |338  |
|Albany             |338  |
|Portland           |338  |
|CincinnatiDayton   |338  |
|SanDiego           |338  |
|Boise              |338  |
|HarrisburgScranton |338  |
|StLouis            |338  |
|NewOrleansMobile   |338  |
|Columbus           |338  |
|Pittsburgh         |338  |
|MiamiFtLauderdale  |338  |
|SouthCentral       |338  |
|Chicago            |338  |
|BuffaloRochester   |338  |
|Tampa              |338  |
|Southeast          |338  |
|Plains             |338  |
|Atlanta            |338  |
|BaltimoreWashington|338  |
|Seattle            |338  |
|SanFrancisco       |338  |
|HartfordSpringfield|338  |
|Spokane            |338  |
|NorthernNewEngland |338  |
|Roanoke            |338  |
|LosAngeles         |338  |
|Houston            |338  |
|Jacksonville       |338  |
|RaleighGreensboro  |338  |
|West               |338  |
|NewYork            |338  |
|Syracuse           |338  |
|California         |338  |
|Orlando            |338  |
|Charlotte          |338  |
|Midsouth           |338  |
|Denver             |338  |
|Boston             |338  |
|Northeast          |338  |
|RichmondNorfolk    |338  |
+-------------------+-----+

54

In [106]:

df = spark.createDataFrame([ ("A", 1, None), ("B", None, "123" ), ("B", 3, "456"), ("D", None, None), ], ["Name", "Value", "id"]) 

df1 = df.na.drop(subset='Value')  
df1.show()

df2=df.na.drop(subset=["Value","id"])
df2.show()

+----+-----+----+
|Name|Value|  id|
+----+-----+----+
|   A|    1|NULL|
|   B|    3| 456|
+----+-----+----+

+----+-----+---+
|Name|Value| id|
+----+-----+---+
|   B|    3|456|
+----+-----+---+